<h1>vtArticleServer</h1>
<h3>Articles for my personal site</h3>
<div>
{{#if article}}
    {{#each article}}
        <article>
            <div>
                <h3>{{this.title}}</h3>
                <p>{{this.sub_title}}</p>
                <strong>{{this.date}}</strong>
                <p>{{this.content}}</p>
            </div>
            <img class="article-img" src="../public/img/content/homemovies01.jpg"/>
        </article>
    {{/each}}

{{else}}
    <p>There are currently no articles.</p>
{{/if}}
</div>
<a href="/admin/new">Write a new Article</a>
